<div class="container">
    <legend>Atualizar ação</legend>
    <div class="mb-3">
        <label for="txtCodigo" class="form-label">Código da ação</label>
        <input
          type="text"
          [(ngModel)]="acaoForm.codigo"
          class="form-control"
          id="txtCodigo"
        />
      </div>
      <div class="mb-3">
        <label for="txtValor" class="form-label">Valor</label>
        <input
          type="text"
          [(ngModel)]="acaoForm.valor"
          class="form-control"
          id="txtValor"
        />
      </div>
      <div class="mb-3">
        <label for="txtQuantidade" class="form-label">Quantidade</label>
        <input
          type="number"
          [(ngModel)]="acaoForm.quantidade"
          class="form-control"
          id="txtQuantidade"
        />
      </div>
      <div class="mb-3">
          <label for="txtData" class="form-label">Data</label>
          <input
            type="date"
            [(ngModel)]="acaoForm.data"
            class="form-control"
            id="txtData"
          />
        </div>
        <div class="w-100">
          <button type="button" class="btn btn-dark" (click)="update()">Voltar</button>
    <button type="button" class="btn btn-dark pull-right" (click)="update()">Atualizar</button>
        </div>
        
  </div>